# TON Network Configuration
REACT_APP_TON_NETWORK=mainnet

# CASA Token Address
REACT_APP_CASA_TOKEN_ADDRESS=EQBWK_VVEBJWiIQIIXOckUVw0HdF24buJiNiiR0dUHEe2xs4

# API Configuration
REACT_APP_API_URL=https://your-api.com
REACT_APP_TON_CONNECT_MANIFEST_URL=https://wallet.casafond.org/tonconnect-manifest.json

# TON Center API Key (optional, for higher rate limits)
# Получите ключ на https://toncenter.com/
REACT_APP_TON_API_KEY=50ffa2414cc3cc0f125068e6990a0d705dc2e4743240ab65535cc8921d0d635a

# CoinGecko API (для получения курсов валют)
# Бесплатный API, не требует ключа
REACT_APP_COINGECKO_API_URL=https://api.coingecko.com/api/v3 